.about-project {
max-width: 1280px;
max-height: 608px;
background: #202020;
padding: 110px 70px;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 90px 50px;
  }
}

@media screen and (max-width:767px) {
  .about-project {
    padding: 70px 18px;
  }
}
