.login__submit {
  padding: 0;
  margin-top: 110px;
  border: none;
  border-radius: 3px;
  width: 100%;
  min-height: 45px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  background-color: #4285F4;
  cursor: pointer;
  transition: background-color .3s linear;
}

.login__submit_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
  pointer-events: none;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .login__submit{
    margin-top: 177px;
  }
}

@media screen and (max-width:767px) {
  .login__submit {
    margin-top: 268px;
  }
}
