.portfolio__button {
  width: 29px;
  height: 60px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/click.svg);
  background-repeat: no-repeat;
  background-position: 4px 18px;
  background-size: 20px 18px;
  transition: opacity .3s linear;
}

@media screen and (max-width:767px) {
  .portfolio__button {
    width: 15px;
    height: 28px;
    background-size: 10px 18px;
    background-position: 0;
  }
}
