.page__header {
  display: flex;
  justify-content: space-between;
  background-color: #073042;;
  padding: 0 70px;
}
.page__header_type_page {
  background-color: transparent;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .page__header{
    padding: 0 30px;
  }
}

@media screen and (max-width:767px) {
  .page__header{
    padding: 0 14px;
  }
}
