.promo__title {
  width: 626px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -1.6px;
  color: #fff;
  margin: 0;
  padding: 50px 0px 0px 70px;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .promo__title {
    padding: 0px;
    margin: 0 auto;
    max-width: 680px;
    text-align: center;
  }
}

@media screen and (max-width:767px) {
  .promo__title {
    width: 300px;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
  }
}
