.portfolio__link {
  text-decoration: none;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  display: flex;
  justify-content: space-between;
  transition: opacity .3s linear;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width:767px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .portfolio__link:hover {
    opacity: .7;
    cursor: pointer;
  }
}
