.movie__save {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/like.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: opacity .3s linear;
}

.movie__save_active {
  background-image: url(../../../images/likel.svg);
}

.movie__save_type_delete {
  background-position: center;
  background-image: url(../../../images/delclose.svg);
}

@media (hover: hover) and (pointer: fine) {
  .movie__save:hover {
    opacity: .7;
  }
}
