.aboutme {
  max-width: 1280px;
  background-color: #202020;;
  padding: 110px 70px 100px;
}

@media screen and (max-width: 768px) {
  .aboutme {
    padding: 90px 50px 90px;
  }
}

@media screen and (max-width:767px) {
  .aboutme {
    padding: 80px 14px 67px;
  }
}
