.search__main {
  display: flex;
  width: 100%;
  background-color: #2F2F2F;
  border-radius: 9px 0px 0px 9px;
  align-items: center;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .search__main {
    display: flex;
    flex-direction: row;
    background-color: #2F2F2F;
    border-radius: 9px 0px 0px 9px;
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width:767px) {
.search__main {
  display: flex;
  align-items: center;
  background-color: #2F2F2F;
  border-radius: 9px;
  width: 100%;
}
}
