.techs__items {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: normal;
  letter-spacing: -0.56px;
}

@media screen and (max-width:767px) {
  .techs__items {
    padding: 0 50px;
    justify-content: flex-start;
  }
}
