.footer{
  max-width: 1280px;
  padding: 0px 70px 20px;
  background-color: #202020;
  margin: 46 0 0;
}

.page__footer--type-saved-movies {
  padding-top: 52px;
}

@media screen and (min-width: 768px) {
  .page__footer--type-saved-movies {
    padding-top: 52px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .footer {
    padding: 0px 30px 20px;
  }
}

@media screen and (max-width:767px) {
  .footer {
    padding: 0px 10px 20px;
  }
}
