.header__nav {
  width: 100%;
  transition: width .2s linear, visibility .2s linear;
}

@media screen and (max-width:768px) {
  .header__nav {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
  }
}

.header__nav_open {
width: 100%;
visibility: visible;
}
