.profile__submit {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  cursor: pointer;
  transition: opacity .3s linear;
}

.profile__submit:hover {
  opacity: .7;
}

@media screen and (max-width:767px) {
  .profile__submit {
    margin-top: 350px;
  }
}
