.aboutme__link {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  color: #fff;
  text-decoration: none;
  transition: opacity .3s linear;
}

@media (hover: hover) and (pointer: fine) {
  .aboutme__link:hover {
    opacity: .7;
    cursor: pointer;
  }
}
