.profile__error-request {
  visibility: hidden;
  display: block;
  margin: 166px 0 0 0;
  min-height: 14px;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  color: #FF004C;
}

@media screen and (max-width:767px) {
  .profile__error-request {
    margin: 0;
  }
}

.profile__error-request_type_error {
  visibility: visible;
}

.profile__error-request_type_success {
  visibility: visible;
  color: #fff;
}
