.register__submit {
  padding: 0;
  margin-top: 108px;
  border: none;
  border-radius: 3px;
  width: 100%;
  min-height: 45px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  background-color: #4285F4;
  cursor: pointer;
  transition: background-color .3s linear;
}

.register__submit_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
  pointer-events: none;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .register__submit{
    margin-top: 106px;
  }
}
