.footer__link {
  margin-left: 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  transition: opacity .3s linear;
  cursor: pointer;
}

@media screen and (max-width:767px) {
  .footer__link {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: normal;
    margin-left: 0;
  }
}

@media (hover: hover) and (pointer: fine) {
  .footer__link:hover {
    opacity: .7;
    cursor: pointer;
  }
}
