.login__text {
  margin: 16px 0 0;
  font-family: "Inter", "Arial", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #8B8B8B;;
}

@media screen and (max-width:767px) {
  .login__text {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    justify-content: center;
  }
}
