.about-project__text {
  color: #FFF;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 26px;
  margin: 0;
  line-height: 20px;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .about-project__text{
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width:767px) {
  .about-project__text{
    font-size: 11px;
    line-height: 16px;
    padding-top: 16px;
  }
}
